.header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 7px;
}

.header_left{
    display: flex;
    align-items: center;
    width: 248px;
}
.header_left > *{
    padding-left: 8px;
}

.header_middle{
    
    display: flex;
    align-items: center;
    flex: 0.68;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: #F1F3F4;
}


.header_right{
    display: flex;
    padding-right: 20px;
margin-left: auto;
align-items: center;
}

.header_middle > input {
    border:none;
    width: 100%;
    padding: 10px;
    outline-width: 0;
    font-size: medium;
    background-color: transparent;
}